<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>15258070096-qlsefv6fmemlsu2mmtngj9mrktb9gt56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15258070096-qlsefv6fmemlsu2mmtngj9mrktb9gt56</string>
	<key>API_KEY</key>
	<string>AIzaSyAgHLRwNLKlUf5ltq_aEtP5_86vLmq0GGc</string>
	<key>GCM_SENDER_ID</key>
	<string>15258070096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alaeldin.BeBrave</string>
	<key>PROJECT_ID</key>
	<string>assault-prevention</string>
	<key>STORAGE_BUCKET</key>
	<string>assault-prevention.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:15258070096:ios:7dd413dc07018784</string>
	<key>DATABASE_URL</key>
	<string>https://assault-prevention.firebaseio.com</string>
</dict>
</plist>